@font-face {
    font-family: 'Ubuntu-Bold';
    src: url(./assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: 'Ubuntu-Regular' ;
    src: url(./assets/fonts/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: 'Ubuntu-Medium';
    src: url(./assets/fonts/Ubuntu-Medium.ttf);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu-Regular';
    min-width: 100vh;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;

}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    height: 70vh;
}

.sidebar{
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90%;
    width: 30%;
}